.card {
  width: 400px;
  height: 348px;
  perspective: 1000px;
  border: solid 1px black;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-box {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back .front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}

.rotateRight {
  transform: rotateY(180deg);
}

.rotateLeft {
  transform: rotateY(-180deg);
}
