.content {
  margin-left: 20px;
  margin-bottom: 10px;
}
tr {
  width: 300px;
  text-align: left;
}
td:nth-child(1) {
  width: 40%;
}
label {
  font-size: 20px;
  font-style: bold;
}
td {
  width: 10px;
}
