.logo {
  height: 150px;
  cursor: pointer;
  border-radius: 25%;
}

.title {
  color: #12355b;
  font-size: 40px;
  font-style: bold;
}
.bar {
  place-items: center;
  justify-content: center;
}
.additionaText {
  color: #12355b;
  font-size: 12px;
  font-style: bold;
}
