.HouseImage {
  width: 500px;
  height: 500px;
}
.headers {
  color: #12355b;
  font-style: italic;
  align-items: left;
}
.text {
  font-size: 20px;
  color: black;
}
.content {
  text-align: left;
}
.houseImg {
  margin-left: 2%;
}
.lineComponent {
  margin-top: 20;
}
.labelForms {
  margin-right: 20px;
}
.but {
  background-color: #12355b;
  color: white;
}
button {
  background-color: #12355b;
  color: white;
  margin-left: 32px;
}
